# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/

# Entorno
.env
.env.*


# Artefactos de compilación de la extensión JetBrains
jetbrains/build/
jetbrains/.gradle/
jetbrains/buildSearchableOptions/
